{% extends 'layout.html' %}

{% block main %}

    <div class="admin-creator-page">
        <h1>Songs</h1>
        <p>Total Songs: {{ song_count }}</p>

        <div class="card-container">
            {% if song_count == 0 %}
                <h6 class="ms-3">No Songs Created</h6>
            {% else %}
                {% for song in songs %}
                    <div class="mb-5 admin-cards">
                        <a href="{{ url_for('admin_song', song_id=song.id) }}" class="card">

                            {% if song.is_flagged %}
                                <img src="/static/images/flagged_song.png" alt="Song {{ song.song_id}} ">
                            {% else %}
                                <img src="/static/images/default_song.jpg" alt="Song {{ song.song_id}} ">
                            {% endif %}

                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3 class="song-title">{{ song.song_title }}</h3>
                                </div>
                            </div>
                        </a>
                        <h4 class="song-title mx-auto" style="width: max-content;">{{ song.song_title }}</h4>             
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    
    </div>

{% endblock %}