{% extends 'layout.html' %}

{% block main %}
    <div class="admin-creator-page">
        <h1>Admin Dashboard</h1>
        <div class="counts">
    
            <p class="count">Total Songs: {{ num_songs }}</p>
            <p class="count">Total Artists: {{ num_creators }}</p>
            <p class="count">Total Users: {{ num_users }}</p>
            <p class="count">Total Albums: {{ num_albums}}</p>
            <p class="count">Average Song Rating: {{ avg_rating }}</p>
    
        </div>
    
        <div class="charts">
        
            <div class="card mt-4" style="height: max-content; width: max-content; padding: 10px;">
                <div class="card-body">
                    <h5 class="card-title">User Growth Over Time</h5>
                    <img src="{{ user_growth_chart }}" alt="User Growth Chart" class="img-fluid" style="height: 400px; width: 1000px;">
                </div>
            </div>

            <div class="card mt-4" style="height: max-content; width: max-content; padding: 20px;">
                <div class="card-body">
                    <h5 class="card-title">Song Performance</h5>
                    <img src="{{ song_performance_chart }}" alt="Song Performance Chart" class="img-fluid" style="height: 500px; width: 1000px;">
                </div>
            </div>

            <div class="card mt-4" style="height: max-content; width: max-content; padding: 20px;">
                <div class="card-body">
                    <h5 class="card-title">Top Artists</h5>
                    <img src="{{ top_artists_chart }}" alt="Top Artists Chart" class="img-fluid" style="height: 400px; width: 1000px;">
                </div>
            </div>

            <div class="card mt-4" style="height: max-content; width: max-content; padding: 20px;">
                <div class="card-body">
                    <h5 class="card-title">Distribution of Songs Among Artists</h5>
                    <img src="{{ artist_song_ratio_chart }}" alt="Artist-to-Song Ratio Chart" class="img-fluid" style="height: 600px; width: 1000px;">
                </div>
            </div>

        </div>

    </div>

{% endblock %}