{% extends 'layout.html' %}

{% block main %}
    <div class="admin-creator-page">
        <h1>Admin Dashboard</h1>
        <div class="counts">
    
            <p class="count">Total Songs: {{ song_count }}</p>
            <p class="count">Total Artists: {{ creator_count }}</p>
            <p class="count">Total Users: {{ user_count }}</p>
            <p class="count">Total Albums: {{ album_count }}</p>
    
        </div>
    
        <h3 class="ms-2">Charts</h3>
        <div class="charts">

            <div>
                <!-- Embedded user statistics plot -->
                <img src="data:image/png;base64,{{ song_data }}" alt="Song Statistics" class="stat-img">
            </div>
        </div>

    </div>

{% endblock %}