{% extends "layout.html" %}

{% block main %}

    {% if current_user.is_blacklisted and current_user.id==album.creator_id  %}

        <div class="alert alert-danger" role="alert">
            You are blacklisted. You cannot view this album.
        </div>

    {% else%}

        {% if album.is_flagged %}
            
            {% if current_user.id==album.creator_id %}
        
                <h1 style="width: fit-content; margin-left:100px; margin-top:50px; color:rgb(65, 7, 7); font-weight:bolder;">Album Flagged</h1>
                <div class="alert alert-danger" role="alert" style="width: fit-content; margin-left:100px; margin-top:20px;">
                    Due to multiple reports, this album has been flagged. It will be reviewed by the admin.
                </div>

                <div class="admin-album-page ">
                    <h1 class="text-light">{{ album.album_name }}</h1>
                    <h4>By {{ artist }}</h4>

                    {% if current_user.is_creator and current_user.id==album.creator_id %}
                        <button type="button" class="edit-button" data-bs-toggle="modal" data-bs-target="#editAlbumModal">
                            Edit Album
                        </button>

                        <button type="button" class="delete-button" data-bs-toggle="modal" data-bs-target="#deleteAlbumModal">
                            Delete Album
                        </button>
                    {% endif %}

                </div>

                <div class="album-songs">
                    <ul class="song-list">
                        {% for song in songs %}

                            {% if song.Song.is_flagged %}
                                {% if current_user.is_creator and current_user.id == song.Song.creator_id %}

                                    <div class="one-song">
                                        <li class="song-contents">

                                            <h3 class="song-title">{{ song.Song.song_title }}</h3>
                                            <strong style="color: rgb(104, 31, 31); font-size:x-large;">FLAGGED</strong>

                                            <a href="{{ url_for('get_song', song_id=song.Song.id )}}">
                                                <button class="playsong">
                                                    <i class=" fas fa-solid fa-play" style="color: rgba(150, 182, 178, 0.777);"></i>
                                                </button>
                                            </a>
                                            
                                        </li>
                                        <p class="song-artist">Artist : {{ song.User.username }}</p>
                                        <p>(Released on {{ song.Song.date_created.strftime('%b %d, %Y') }})</p>
                                    </div>
                                
                                {% endif %}
                            
                            {% else %}

                                <div class="one-song">
                                    <li class="song-contents">
                                        <h3 class="song-title">{{ song.Song.song_title }}</h3>
                        
                                        <a href="{{ url_for('get_song', song_id=song.Song.id )}}">
                                            <button class="playsong">
                                                <i class=" fas fa-solid fa-play" style="color: rgba(150, 182, 178, 0.777);"></i>
                                            </button>
                                        </a>
                                        
                                    </li>
                                    <p class="song-artist">Artist : {{ song.User.username }}</p>
                                    <p>(Released on {{ song.Song.date_created.strftime('%b %d, %Y') }})</p>
                                </div>

                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
            
            {% else %}

                <div class="alert alert-danger" role="alert">
                    This album has been flagged. You cannot view this album.
                </div>

            {% endif %}

        {% else %}

            <div class="admin-album-page ">
                <h1 class="text-light">{{ album.album_name }}</h1>
                <h4>By {{ artist }}</h4>

                {% if current_user.is_creator and current_user.id==album.creator_id %}
                    <button type="button" class="edit-button" data-bs-toggle="modal" data-bs-target="#editAlbumModal">
                        Edit Album
                    </button>

                    <button type="button" class="delete-button" data-bs-toggle="modal" data-bs-target="#deleteAlbumModal">
                        Delete Album
                    </button>
                {% endif %}

            </div>

            <div class="album-songs">
                <ul class="song-list">
                    {% for song in songs %}

                        {% if song.Song.is_flagged %}
                            {% if current_user.is_creator and current_user.id == song.Song.creator_id %}

                                <div class="one-song">
                                    <li class="song-contents">

                                        <h3 class="song-title">{{ song.Song.song_title }}</h3>
                                        <strong style="color: rgb(104, 31, 31); font-size:x-large;">FLAGGED</strong>

                                        <a href="{{ url_for('get_song', song_id=song.Song.id )}}">
                                            <button class="playsong">
                                                <i class=" fas fa-solid fa-play" style="color: rgba(150, 182, 178, 0.777);"></i>
                                            </button>
                                        </a>
                                        
                                    </li>
                                    <p class="song-artist">Artist : {{ song.User.username }}</p>
                                    <p>(Released on {{ song.Song.date_created.strftime('%b %d, %Y') }})</p>
                                </div>
                            
                            {% endif %}
                        
                        {% else %}

                            <div class="one-song">
                                <li class="song-contents">
                                    <h3 class="song-title">{{ song.Song.song_title }}</h3>
                    
                                    {% if current_user.is_creator and current_user.id==album.creator_id %}
                                        <a href="{{ url_for('get_song', song_id=song.Song.id )}}">
                                    {% else %}
                                        <a href="{{ url_for('play_song', song_id=song.Song.id )}}">
                                    {% endif %}
                                            <button class="playsong">
                                                <i class=" fas fa-solid fa-play" style="color: rgba(150, 182, 178, 0.777);"></i>
                                            </button>
                                        </a>
                                    
                                </li>
                                <p class="song-artist">Artist : {{ song.User.username }}</p>
                                <p>(Released on {{ song.Song.date_created.strftime('%b %d, %Y') }})</p>
                            </div>

                        {% endif %}

                    {% endfor %}
                </ul>
            </div>

        {% endif %}

    {% endif %}


    <!-- ----------------------------------------------------MODALS-------------------------------------------------------------  -->

    <!-- EDIT ALBUM MODAL  -->
    <div class="modal fade" id="editAlbumModal" tabindex="-1" aria-labelledby="editAlbumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content album-modal">
                <div class="modal-body">
                    <div class="playlist-section">
                        <div class="playlist-details">
                            <h3 class="playlist-title">Edit Album</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>

                    <!-- FORM TO EDIT ALBUM  -->
                    <form action="" method="POST">
                        {{ editAlbumForm.hidden_tag() }}

                        <!-- TITLE  -->
                        <div class="form-group">
                            {{ editAlbumForm.album_title.label(class='form-control-label') }}
                
                            {% if editAlbumForm.album_title.errors %}
                            {{ editAlbumForm.album_title(class='form-control form-control-lg is-invalid') }}
                
                            <div class="invalid-feedback">
                                {% for error in editAlbumForm.album_title.errors %}
                                <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                
                            {% else %}
                            {{ editAlbumForm.album_title(class='form-control form-control-lg') }}
                
                            {% endif %}
                        </div>
                        <br>
                
                        <!-- GENRE  -->
                        <div class="form-group">
                            {{ editAlbumForm.genre.label(class='form-control-label') }}
                
                            {% if editAlbumForm.genre.errors %}
                            {{ editAlbumForm.genre(class='form-control form-control-lg is-invalid') }}
                
                            <div class="invalid-feedback">
                                {% for error in editAlbumForm.genre.errors %}
                                <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                
                            {% else %}
                            {{ editAlbumForm.genre(class='form-control form-control-lg') }}
                
                            {% endif %}
                        </div>
                        <br>
                
                        <!-- SUBMIT BUTTON  -->
                        <div class="form-group">
                            {{ editAlbumForm.submit(class='btn btn-success') }}
                        </div>
                
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- DELETE ALBUM MODAL  -->
    <div class="modal fade" id="deleteAlbumModal" tabindex="-1" aria-labelledby="deleteAlbumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="playlist-section">
                        <div class="playlist-details">
                            <h3 class="playlist-title">Delete Album?</h3>
                            <br>
                        </div>
                    </div>
                    <a href="{{ url_for('delete_album', album_id=album.id)}}">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                    
                    <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

{% endblock %}