{% extends "layout.html" %}

{% block main %}

<div class="px-5 lt-songs-container ">
    <h1 class="h3 text-light">{{ album.album_name }}</h1>

    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editAlbumModal">
        Edit Album
    </button>

    <a href="{{ url_for('delete_album', album_id=album.id)}}" >
        <button type="button" class="btn btn-danger" >
            Delete Album
        </button>
    </a>

    <ul class="song-list">
        {% for song in songs %}
            <li class="song-item">{{ song.song_title }} (Released on {{ song.date_created.strftime('%Y-%m-%d') }})</li>
        {% endfor %}
    </ul>

</div>




<!-- ----------------------------------------------------MODALS-------------------------------------------------------------  -->

<!-- EDIT PLAYLIST MODAL  -->
<div class="modal fade" id="editAlbumModal" tabindex="-1" aria-labelledby="editAlbumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="playlist-section">
                    <div class="playlist-details">
                        <h3 class="playlist-title">Edit Album</h3>
                    </div>
                </div>

                <!-- FORM TO EDIT ALBUM  -->
                <form action="" method="POST">
                    {{ editAlbumForm.hidden_tag() }}

                    <!-- TITLE  -->
                    <div class="form-group">
                        {{ editAlbumForm.album_title.label(class='form-control-label') }}
            
                        {% if editAlbumForm.album_title.errors %}
                        {{ editAlbumForm.album_title(class='form-control form-control-lg is-invalid') }}
            
                        <div class="invalid-feedback">
                            {% for error in editAlbumForm.album_title.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
            
                        {% else %}
                        {{ editAlbumForm.album_title(class='form-control form-control-lg') }}
            
                        {% endif %}
                    </div>
                    <br>
            
                    <!-- GENRE  -->
                    <div class="form-group">
                        {{ editAlbumForm.genre.label(class='form-control-label') }}
            
                        {% if editAlbumForm.genre.errors %}
                        {{ editAlbumForm.genre(class='form-control form-control-lg is-invalid') }}
            
                        <div class="invalid-feedback">
                            {% for error in editAlbumForm.genre.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
            
                        {% else %}
                        {{ editAlbumForm.genre(class='form-control form-control-lg') }}
            
                        {% endif %}
                    </div>
                    <br>
            
                    <!-- SUBMIT BUTTON  -->
                    <div class="form-group">
                        {{ editAlbumForm.submit(class='btn btn-success') }}
                    </div>
            
                </form>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}