{% extends 'layout.html' %} 

{% block main %}

    <form action="" method="POST" class="m-100">
        {{ form.hidden_tag() }}
        <!-- TITLE  -->
        <div class="form-group">
            {{ form.album_title.label(class='form-control-label') }}

            {% if form.album_title.errors %}
            {{ form.album_title(class='form-control form-control-lg is-invalid') }}

            <div class="invalid-feedback">
                {% for error in form.album_title.errors %}
                <span> {{ error }} </span>
                {% endfor %}
            </div>

            {% else %}
            {{ form.album_title(class='form-control form-control-lg') }}

            {% endif %}
        </div>
        <br>

        <!-- TITLE  -->
        <div class="form-group">
            {{ form.genre.label(class='form-control-label') }}

            {% if form.genre.errors %}
            {{ form.genre(class='form-control form-control-lg is-invalid') }}

            <div class="invalid-feedback">
                {% for error in form.genre.errors %}
                <span> {{ error }} </span>
                {% endfor %}
            </div>

            {% else %}
            {{ form.genre(class='form-control form-control-lg') }}

            {% endif %}
        </div>
        <br>

        <!-- SUBMIT BUTTON  -->
        <div class="form-group">
            {{ form.submit(class='btn btn-success') }}
        </div>

    </form>

{% endblock %}