{% extends "layout.html" %}


{% block main %}

    <div class="lt-songs-container ">
        <h1 class="text-light lt-songs-head">Latest Songs</h1>
        <ul class="song-list lt-songs">
            {% for song in latest_songs %}
                {% if not song.User.is_blacklisted and not song.Song.is_flagged %}
                    <div class="one-song">
                        <li class="song-contents">
                            <h3 class="song-title">{{ song.Song.song_title }}</h3>

                            <a href="{{ url_for('play_song', song_id=song.Song.id )}}">
                                <button class="playsong">
                                    <i class=" fas fa-solid fa-play" style="color: rgba(150, 182, 178, 0.777);"></i>
                                </button>
                            </a>
                            
                        </li>
                        <p class="song-artist">Artist : {{ song.User.username }}</p> 
                        <p class="song-artist">Album : {{ song.Album.album_name }}</p>
                        <p>(Released on {{ song.Song.date_created.strftime('%b %d, %Y') }})</p>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
        
{% endblock %}