<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- MAIN CSS  -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- STYLESHEET FOR ICONS  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  <!-- Title of the page  -->
  <title>Rustle</title>

</head>

<body>

  {% if not current_user.is_authenticated %}

    <!-- ........................WELCOME PAGE LAYOUT.............................  -->

    <div class="welcome-page">
      
      <!-- FLASH MESSAGES -->
      {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    
      {% block content %}
      {% endblock %}

    </div>

  {% else %}

    <div class="container">
      <div class="row">
        <!-- COLUMN 1 - MAIN CONTENT  -->
        <div class="main">

          <div class="header shadow">
              <div class="container-fluid">
                <div class="d-flex">
                  <div class="flex-grow-1 ">
                    <form class="w-50 mx-auto" role="search">
                      <input type="search" class="form-control search-box" placeholder="Search" aria-label="Search">
                    </form>
                  </div>
                  <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="/static/images/default_user.png" alt="mdo" width="40" height="40" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                      {% if not current_user.is_admin %}

                        <li><a class="dropdown-item" href="{{ url_for('home_user')  }}">Home</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('user_profile')  }}">My User Profile</a></li>
          
                        {% if not current_user.is_creator %}
                          <li><a class="dropdown-item" href="{{ url_for('become_artist')  }}">Become Artist</a></li>
                          {% else %}
                          <li><a class="dropdown-item" href="{{ url_for('creator_profile')  }}">My Artist Profile</a></li>
                        {% endif %}
          
                        <li>
                          <hr class="dropdown-divider">
                        </li>

                      {% else %}

                        <li><a class="dropdown-item" href="{{ url_for('admin_dashboard')  }}">Dashboard</a></li>

                      {% endif %}
                      <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a></li>
                    </ul>
                  </div>
                </div>
              </div>

          </div>

          <div class="main-content">

            <!-- FLASH MESSAGES -->
            <div class="flash-m">
              {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                  {% for category,message in messages %}
                    <div class="alert alert-{{ category }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>

            {% block main %}
            {% endblock %}

          </div>

        </div>

        <!-- COLUMN 2 - SIDEBAR  -->
        <nav id="sidebar" class="col-2">
          <div class="sidebar-header">
            <img src="/static/images/app-logo.jpg" class="logo-img" alt="">
            <h3 class="logo-text d-inline-block mt-3">Rustle</h3>
          </div>
          <ul class="list-unstyled components">

            {% if not current_user.is_admin %}

              <h5 class="mt-4">User Section</h5>
              <li>
                <a href="{{ url_for('home_user') }}"><i class="fas fa-headphones"></i> All Songs</a>
              </li>
              <li>
                  <a href="{{ url_for( 'user_profile') }}"><i class="fas fa-list"></i> Playlists</a>
              </li>

              {% if current_user.is_creator %}

                <div class="mt-2">
                  <h5 class="mt-4">Artist Section</h5>
                  <li>
                      <a href="{{ url_for('creator_profile',_anchor='tabone') }}"><i class="fas fa-compact-disc"></i> My Albums </a>
                  </li>
                  <li>
                      <a href="{{ url_for( 'creator_profile', _anchor='tabtwo') }}"><i class="fas fa-music"></i> My Songs </a>
                  </li>
                </div>

              {% endif %}
            
            {% else %}
                
              <li>
                <a href="{{ url_for('admin_dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
              </li>
              <li>
                <a href="{{ url_for('admin_users') }}"><i class="fas fa-users"></i> Users</a>
              </li>
              <li>
                <a href="{{ url_for('admin_creators') }}"><i class="fas fa-user-tie"></i> Creators</a>
              </li>
              <li>
                <a href="{{ url_for('admin_songs') }}"><i class="fas fa-music"></i> Songs</a>
              </li>
              <li>
                <a href="{{ url_for('admin_albums') }}"><i class="fas fa-compact-disc"></i> Albums</a>
              </li>

            {% endif %}

          </ul>
        </nav>
        
      </div>
    </div>

  {% endif %}

  
  <!-- Popper JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

  <!-- Javascript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>

</body>

</html>