{% extends "layout.html" %}

{% block main %}

    <div class="admin-creator-page ">

        <h1>Search Results for <u>"{{ query }}"</u></h1>

        <div class="search-results">
            <h2>Songs</h2>
            <div id="song-results">
                {% if songs %}
                    {% for song in songs %}

                        {% if not song.flagged %}
                            
                            <div class="song">
                                <strong><a href="/play_song/{{ song.id }}" class="search-a">{{ song.title }}</a></strong> by {{ song.artist }}
                            </div>

                        {% elif song.flagged and  song_size==flag_song_count %}
                            <p>No songs found</p>
                        {% endif %}

                    {% endfor %}
                {% else %}
                    <p>No songs found</p>
                {% endif %}
            </div>
            
            <h2>Albums</h2>
            <div id="album-results">
                {% if albums %}
                    {% for album in albums %}
                        {% if not album.name == "Singles" %}

                            {% if not album.flagged %}
                                <div class="album">
                                    <strong><a href="/album/{{ album.id }}" class="search-a">{{ album.name }}</a></strong> by {{ album.artist }} (Genre:{{ album.genre }}) 
                                </div>
                            {% elif album.flagged and  album_size==flag_album_count %}
                                <p>No albums found</p>
                            {% endif %}

                        {% elif album.name == "Singles" and album_size==1 %}
                            <p>No albums found</p>
                        {% endif %}

                    {% endfor %}
                {% else %}
                    <p>No albums found</p>
                {% endif %}
            </div>
        </div>
    
    </div>

{% endblock %}
